Please sign in.

<form method="post" action="/sessions">
	Email: <input type="text" name="email">
	Password: <input type="password" name="password">
	<input type="submit" value="Sign in">
</form>

<form method="post" action="/sessions/forgotten">
	Email: <input type="text" name="femail">
	<input type="submit" value="Forgot your password?">
</form>