<html>
<head> 
	Bookmark Manager
</head>

<body>



<h1> Welcome to bookmark manager! </h1>
<ul>
	<% @links.each do |link| %>
		<li><a href="<%= link.url %>"><%= link.title %></a></li>
	<% end %>
</ul>

<div id="new-link">
	<form action="/links" method="post">
		URL: <input type="text" name="url">
		Title: <input type="text" name="title">
		Tags: <input type="textarea" name="tags">
		<input type="submit" value="Add link">
	</form>
</div>




</body>

</html>